<div class="about-principal">
  <img class="img-about1" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/about.jpg?v=1622131576">
  <section id="about-us-section">
    
    <style>
     .about-principal {
      position: relative;

    }
    .about-principal .img-about1{
      position: absolute;
      width: 580px;
      height: 580px;
      border: solid 10px #fff;
      border-radius: 50%;
      left: -130px;
      top: -60px;
      z-index: 2;
    }

    #about-us-section .img-about2{
      position: absolute;
      width: 580px;
      height: 580px;
      border: solid 10px #fff;
      border-radius: 50%;
      left: -130px;
      top: -60px;
      z-index: 2;
    }      
      
    #about-us-section{
        position: relative;
        background: #383838;
        padding-top: 100px;
        padding-bottom: 10px;
      overflow: hidden;
    }

    #about-us-section .triangulo {
        width: 0; 
        height: 0; 
        border-left: 30px solid #bd970c;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent; 
    }

    #about-us-section .triangulo-2 {
        width: 0; 
        height: 0; 
        border-left: 30px solid #fff;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent; 
    }

    #about-us-section .triangulo-3 {
        width: 0; 
        height: 0; 
        border-left: 30px solid #aaaaaa;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent; 
    }

    #about-us-section h2 {
        color: #fff;
        font-size: 36px;
        margin-left: 100px;   
    }


    #about-us-section span{
        color: #bd970c;
        font-size: 40px;
        padding-left: 10px;
        font-weight: 500px;
        margin-top: -20px;

    }



    #about-us-section p{
        margin-top: 30px;
        font-size: 20px;
        color: #fff;
    }

    #about-us-section .btn-3 a {
        background: #383838;
        padding: 7px 35px;
        border-radius: 26px;
        color: #fff;
        border: 3px solid #fff;
        transition: 0.6s;
    }

    #about-us-section .btn-3 a:hover{
        background: #fff;
        color: #383838;
        transition: 0.6s;
      	text-decoration:none;
    }

    @media (max-width: 1279px) {

    #about-us-section .img-about2{
      position: relative;
      width: 250px;
      height: 250px;
      display: flex;
      align-items: center;
      left: 0px;
      top: 0px;
      margin-bottom: 50px;
    }

    }

    @media (max-width: 1279px) {

      #about-us-section .img-about2{
        display: block;
      }

      .about-principal .img-about1{
        display: none;
      }
      
    }

    @media (min-width: 1280px) {

      #about-us-section .img-about2{
        display: none;
      }

      .about-principal .img-about1{
        display: block;
      }
      
    }
      
    #about-us-section .m-m{
      margin-top: -20px;
      margin-bottom: 20px;
      font-size: 16px;
    }


    #about-us-section .certificated-title {
        color: #fff;
        font-size: 30px; 
        margin-left: 0px;      
    }


    #about-us-section .certificated-subtitle{
        color: #bd970c;
        font-size: 34px;    
        margin-top: 0px;
        padding-left: 0px;

    }

    #about-us-section .triangle-about{
      transform: rotate(80deg);
      position: absolute;
      top: -40px;
      left: -30px;
      z-index: 0;
    }


    @media (max-width: 768px) {

    #about-us-section .certificated-title {
        text-align: center;
        margin-top: 30px;      
    }


    #about-us-section .certificated-subtitle{
        text-align: center; 

    }

    }

    #about-us-section .triangle-4:after {
        position: absolute;
        top: -14%;
        right: -38%;
        height: 800px;
        width: 750px;
        content: '';
        background: #fff;
        opacity: 0.1;
        z-index: 0;
        border-radius: 10%;
        transform: rotate(-35deg); 
    }    
    </style>
    
  	<div class="triangle-4 d-lg-block d-none"></div>  	
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <img class="img-about2" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/about.jpg?v=1622131576">
        </div>
        <div class="col-md-8"> 
        <div class="triangulo" style = "float: left"></div>
        <div class="triangulo-2" style = "float: left"></div>   
        <div class="triangulo-3" style = "float: left"></div>
        <h2>About Us</h2>     
        <span>What do we do</span>
        <div class="col-12">
          <p>
            Our Las Vegas, NV summer brings abundant sunshine, but can also be scorching and lengthy. The winter season, on the other hand, no matter how short, can still bring a chill in the air. That is why if you are a resident of Las Vegas, NV.
          </p>
          <div class="btn-3 text-center mt-5">
              <a href="#"> Read More</a>
          </div>          
        </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-12 mt-5 border-top">
      	<div class="triangle-about">
      		<div class="triangulo-redondeado"></div>
      	</div>
      		<div class="row  d-flex align-items-center ">
      			<div class="col-md-4 ">
      			      <h2 class="certificated-title">Certificates</h2>     
                      <h3 class="certificated-subtitle">Guaranteed work</h3>				
      			</div>
      			<div class="col-md-2"> 
      				<p class="text-center"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/cer-1.png?v=1622132247" alt="..."></p>
      				<p class="text-center m-m">608 & 609 <br> EPA Certified</p>     				
      			</div>
      			<div class="col-md-2">
      				<p class="text-center"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/cer-2.png?v=1622132247" alt="..."></p>
      				<p class="text-center m-m">GSA <br> Approved</p>    				
      			</div>
      			<div class="col-md-2">
      			    <p class="text-center"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/cer-3.png?v=1622132247" alt="..."></p>
      				<p class="text-center m-m">HVAC <br> Excellence</p>    				
      			</div>
      			<div class="col-md-2">
      				<p class="text-center"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/cer-4.png?v=1622132247" alt="..."></p>
      				<p class="text-center m-m">HVAC Olympics <br> Skills Usa Gold Medal</p>
      			</div>
      		</div>      		
      	</div>
      </div>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "About us Section",
    "settings": [
		{
			"type": "text",
			"id": "video_url",
			"label": "Put here a video URL"
		}
	],
	"presets": [
		{
			"name": "About us Section"
		}
	]
  }
{% endschema %}