<footer class="footer">
  
  <style>
    .footer {
      background: #383838;
      overflow: hidden;
      position: relative;
    }

    .footer a:hover{
      text-decoration: none;
    }
    
    .footer img{
      width: 30%
    }

    .footer__top {
      padding: 30px 0;
      border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    }

    .footer__top__logo {
      line-height: 40px;
    }
    .footer__top__logo a {
      display: inline-block;
    }

    .footer__top__social {
      text-align: left;
    }
    .footer__top__social a {
      display: inline-block;
      font-size: 18px;
      color: #fff;
      height: 40px;
      width: 40px;
      line-height: 35px;
      text-align: center;
      margin-right: 6px;
     transition: 0.6s;
    }


    .footer__top__social a:hover{
      color: #bd970c;  
      transition: 0.6s;
    }

    .footer__top__social a:last-child {
      margin-right: 0;
    }

    .footer__option {
      padding-bottom: 35px;
      padding-top: 75px;
    }

    .footer__option__item {
      margin-bottom: 35px;
    }
    .footer__option__item h5 {
      color: #bd970c;  
      margin-bottom: 35px;
      font-size: 23px;  
    }

    .footer__option__item p {
      font-weight: 300;
      margin-bottom: 20px;
      color: #ffffff;
    }
    .footer__option__item .read__more {
      font-size: 16px;
      color: #ffffff;
    }
    .footer__option__item .read__more span {
      font-size: 16px;
      color: #ffffff;
      opacity: 0.5;
      position: relative;
      top: 4px;
      margin-left: 5px;
    }
    .footer__option__item ul li {
      list-style: none;
    }
    .footer__option__item ul li a {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
      transition: 0.6s;
    }

    .footer__option__item p a {
      color: #fff;
      font-size: 14px;  
      line-height: 24px;
      transition: 0.6s;
    }

    .footer__option__item p a:hover {
     color: #bd970c;
      transition: 0.6s;

    }

    .footer__option__item p a i{
     color: #bd970c; 
    }


    .footer__option__item ul li a::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
        color: #bd970c;
    }

    .footer__option__item ul li a:hover {
     color: #bd970c;
      transition: 0.6s;

    }



    .phone-footer {
            height: 100%;
            text-align: end;
            display: flex;
            align-items: center;
            justify-content: flex-end;
    }

    .phone-footer a {
            color: #fff ;
            border: 1px solid #fff;
            border-radius: 13px;
            padding: 3px 25px;
           border-radius: 25px;
           transition: 0.6s;
        }

    .phone-footer a:hover {
            color: #383838;
            background: #fff;
            transition: 0.6s;
    }




    .footer__copyright {
      border-top: 3px solid rgba(0, 0, 0,0.3);
      padding: 40px 0;
      text-align: center;  
      color: #fff;
      font-size: 16px;
      line-height: 15px;
      position: relative;
      z-index: 3;
    }


    .footer__copyright a{
      color: #Fff;
      margin-bottom: 0; 
     }

    .footer__copyright strong{
        color: #bd970c;

    }

    .footer__copyright img{
      width: 7rem;
      margin-top: 10px;
    }


    .footer .triangle-1:after {
        position: absolute;
        bottom: -7%;
        right: -12%;
        height: 450px;
        width: 350px;
        content: '';
        background: #fff;
        opacity: 0.1;
        z-index: 0;
        border-radius: 10%;
        transform: rotate(65deg); 
    }

    .footer .triangle-2:after {
        position: absolute;
        bottom: -17%;
        right: -22%;
        height: 450px;
        width: 350px;
        content: '';
        background: #fff;
        opacity: 0.2;
        z-index: 0;
        border-radius: 10%;
        transform: rotate(65deg); 
    }  
  </style>
  
		<div class="triangle-1 d-lg-block d-none"></div>
		<div class="triangle-2 d-lg-block d-none"></div>
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/logo.png?v=1622065324" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="phone-footer text-right">
                            <a href="Tel:7024892100"> <i class="fa fa-phone"></i> (702) 489-2100 </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">                                      
                    <div class="col-lg-4">
                        <div class="footer__option__item">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="">3355 CLAYTON ST #13 NORTH LAS VEGAS, NV 89032</a></li>
                                <li><a href="">24 HOUR EMERGENCY SERVICES</a></li>
                                <li><a href="">NV LICENSE #0078139</a></li>
                                <li><a href="">CONSULTING@INFO.COM</a></li>                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="#">ABOUT US</a></li>
                                <li><a href="#">SHOP</a></li>
                                <li><a href="#">COMMERCIAL</a></li>
                                <li><a href="#">HCV PARTS</a></li>
                                <li><a href="#">FINANCING</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer__option__item">
                            <h5>Follow Us</h5>
                            <div class="footer__top__social">                            
                            <a href="#"><i class="fab fa-google"></i></a>
                            <a href="#"><i class="fab fa-yelp"></i></a>
                            <a href="#"><i class="fab fas fa-fire"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>




                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
            	 <div class="container">
				      <div class="mb-2">  
				        © Copyright <strong>GOLD MEDAL AIR </strong>. All Rights Reserved
				      </div>
				      <div>  
				         This Website Was Designed And Developed by <a href="https://josesilvera.com/portfolio"  target="_blank">Josesilvera.com</a>          
				      </div>
				      <a href="https://josesilvera.com/portfolio"  target="_blank">
				            <div class="img_by text-center">
				            <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/silvera-logo.png?v=1622161573" alt="Logo Silvera Enterprise">
				            </div>
				        </a>
                     </div>
            </div>
        </div>
    </footer>