 <header id="header" class="header-fixed-mobile">
    <div class="container">
      <div id="logo" class="pull-left">
        <h1><a href=""> <img src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/logo.png?v=1622065324" alt=""></a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
      </div>
      <nav id="nav-menu-container" class="">
        <ul class="nav-menu d-flex align-items-center justify-content-center">
          <li class="menu-has-children"><a href="">Abou Us</a>
            <ul>
              <li><a href="#">Contact Us</a></li>
              <li class="menu-has-children"><a href="#">Areas Served</a>
                <ul>
                  <li><a href="#">Henderson, NV</a></li>
                  <li><a href="#">Las Vegas, NV</a></li>
                  <li><a href="#">Nort Las Vegas, NV</a></li>
                  <li><a href="#">Paradise</a></li> 
                </ul>
              </li>              
            </ul>
          </li>          
          <li class="menu-has-children"><a href="#">Services</a>
            <ul>
              <li class="menu-has-children"><a href="#">Coolling</a>
                <ul>
                  <li><a href="#">AC Installation & Replacemenr</a></li>
                  <li><a href="#">AC Repair & maintenance</a></li>
                  <li><a href="#">Ductless AC</a></li>
                  <li><a href="#">Evaporator coil services</a></li> 
                </ul>
              </li>
              <li class="menu-has-children"><a href="#">Heating</a>
                <ul>
                    <li><a href="#">Boiler services</a></li>
                    <li><a href="#">Furnace installation & repair</a></li>
                    <li><a href="#">Heat pums</a></li>
                    <li><a href="#">Heating installation & Replacement</a></li>
                    <li><a href="#">Heating Repair & Maintenance</a></li>
                </ul>
              </li>
              <li><a href="#">HVAC Parts</a></li>
              <li class="menu-has-children"><a href="#">Other Services</a>
                <ul>
                    <li><a href="#">Home Ventilation</a></li>
                    <li><a href="#">Indoor air quality</a></li>
                    <li><a href="#">preventative maintenance</a></li>
                    <li><a href="#">Thermostat</a></li>
                    <li><a href="#">Zoning system service</a></li>
                </ul>
              </li> 
            </ul>
          </li>
          <li><a href="#">Shop</a></li>
          <li class="menu-has-children"><a href="#">Comercial</a>
            <ul>
                <li><a href="#">Commercial boiler, ac & furnace service, maintenance and cleaning</a></li>
                <li><a href="#">commercial oven repair</a></li>
                <li><a href="#">Commercial Refrigeration Contractor</a></li>
                <li><a href="#">Exhaust vent repair</a></li>
                <li><a href="#">ICE machine repair</a></li>
                <li><a href="#">Walk-in cooler repair</a></li>
            </ul>

          </li>        
          <li><a href="#">Finnancing</a></li> 
          <li class="contac-nav">
          <span><a data-toggle="modal" data-target="#formulario"><i class="fas fa-search" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search products"></i></a></span>
          <span><a href="/cart"><i class="fas fa-shopping-cart" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cart"></i></a></span>

              <span><a href="Tel:7024892100" target="_blank"><i class="fas fa-phone" data-bs-toggle="tooltip" data-bs-placement="bottom" title="(702) 489-2100"></i></a></span>
          <span><a href="mailto:consulting@info.com" target="_blank"><i class="fas fa-envelope" data-bs-toggle="tooltip" data-bs-placement="bottom" title="consulting@info.com"></i></a></span>
          <span><a><i class="fas fa-clock" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Open: 09:00 - 18:00, Mon - Sat / Sunday: Closed"></i></a></span>
         </li> 
        </ul>
      
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

              
{% include 'search-modal' %}
