<section id="home-products-section">
  <style>
    
       #home-products-section .triangulo {
          width: 0; 
          height: 0; 
          border-left: 30px solid #bd970c;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent; 
      }

      #home-products-section .triangulo-2 {
          width: 0; 
          height: 0; 
          border-left: 30px solid #383838;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent; 
      }
      #home-products-section .triangulo-3 {
          width: 0; 
          height: 0; 
          border-left: 30px solid #aaaaaa;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent; 
      }

      #home-products-section h2 {
          color: #383838;
          font-size: 36px;
          margin-left: 100px;   
      }


      #home-products-section p{
          color: #bd970c;
          font-size: 40px;
          padding-left: 10px;
          font-weight: 500px;
          margin-top: -20px;

      }
    
      #home-products-section button{
        position: relative;
        background: #383838;
        color: white;
        transition: 0.3s;
      }

      #home-products-section button h4{
        margin:0;
      }

      #home-products-section .btn-2 a {
          background: #fff;
          padding: 7px 35px;
          border-radius: 26px;
          color: #bd980c;
          border: 3px solid #bd980c;
          transition: 0.6s;
      }

      #home-products-section .btn-2 a:hover{
          background: #bd980c;
          color: #fff;
          transition: 0.6s;
      }
    
      @media (min-width: 1024px) and (max-width: 1279px){
      	#home-products-section button{        
			position: relative;
    		left: -4pc;
    		padding-left: 60px!important;
        }
        
      	#home-products-section .item h3{
          	position: relative;
          	left: -1pc;
      	}
      }

      @media (min-width: 1280px) and (max-width: 1439px){
      	#home-products-section button{        
			position: relative;
    		left: -5pc;
    		padding-left: 80px!important;
        }
        
      	#home-products-section .item h3{
          	position: relative;
          	left: -1pc;
      	}
      }
    
      @media (min-width: 1440px){
      	#home-products-section button{        
			position: relative;
    		left: -7pc;
    		padding-left: 80px!important;
        }
        
      	#home-products-section .item h3{
          	position: relative;
          	left: -3pc;
      	}
      }
    
      @media (min-width: 1304px){
        
      	#home-products-section .item h3{
          	position: relative;
          	left: -1pc;
      	}
      }
    
      #home-products-section button:hover{
        background: #bd980c;
      }

      #home-products-section .pic{
        width: 90%;
        border-radius: 100%;
        border: 4px solid #bd980c;
      }
    
      #home-products-section .price-product-circle{
        position: relative;
        top: -5pc;
        width:120px;
        height:120px;
        border-radius: 100%;
        border: 4px solid #907907;
        background: #bd980c;
        color: white;
        z-index:100;
      }
    
  </style>
  
  <div class="py-5 container">
        <div class="triangulo" style = "float: left"></div>
        <div class="triangulo-2" style = "float: left"></div>   
        <div class="triangulo-3" style = "float: left"></div>
        <h2>Products</h2>
        <p class="mb-4">Know what we have for you</p>
    
  	<div class="row align-items-center">

          <div class="col-md-6 item px-5">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 text-center p-0" style="z-index:10;">
          		<img class="pic" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/190974596_209247420877537_5236652189819889257_n.png?v=1622082407" alt="food-picture">            
                
                <div class="row justify-content-center align-items-center price-product-circle p-3">
                  <h6>For sale <br> $12.99</h6>
                </div>            
            </div>
            <div class="col-lg-6 text-center p-0" style="position: relative; top: -5pc;">
              <h3 class="my-3">Air Conditioner Cleaner</h3>
              <button type="button" class="btn badge badge-pill py-1 px-3 mt-2"><h4>Add to cart <i class="fas fa-shopping-cart"></i></h4></button>
            </div>
          </div>
        </div>
          </div>
 
          <div class="col-md-6 item px-5">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 text-center p-0" style="z-index:10;">
          		<img class="pic" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/190854256_786823065306756_7200931862903910117_n.png?v=1622082407" alt="food-picture">            
                
                <div class="row justify-content-center align-items-center price-product-circle p-3">
                  <h6>For sale <br> $9.99</h6>
                </div>            
            </div>
            <div class="col-lg-6 text-center p-0" style="position: relative; top: -5pc;">
              <h3 class="my-3">Air Conditioner <br> Spray Cleaner</h3>
              <button type="button" class="btn badge badge-pill py-1 px-3 mt-2"><h4>Add to cart <i class="fas fa-shopping-cart"></i></h4></button>
            </div>
          </div>
        </div>
          </div> 
      
          <div class="col-md-6 item px-5">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 text-center p-0" style="z-index:10;">
          		<img class="pic" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/190974596_209247420877537_5236652189819889257_n.png?v=1622082407" alt="food-picture">            
                
                <div class="row justify-content-center align-items-center price-product-circle p-3">
                  <h6>For sale <br> $12.99</h6>
                </div>            
            </div>
            <div class="col-lg-6 text-center p-0" style="position: relative; top: -5pc;">
              <h3 class="my-3">Air Conditioner Cleaner</h3>
              <button type="button" class="btn badge badge-pill py-1 px-3 mt-2"><h4>Add to cart <i class="fas fa-shopping-cart"></i></h4></button>
            </div>
          </div>
        </div>
          </div>
 
          <div class="col-md-6 item px-5">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 text-center p-0" style="z-index:10;">
          		<img class="pic" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/190854256_786823065306756_7200931862903910117_n.png?v=1622082407" alt="food-picture">            
                
                <div class="row justify-content-center align-items-center price-product-circle p-3">
                  <h6>For sale <br> $9.99</h6>
                </div>            
            </div>
            <div class="col-lg-6 text-center p-0" style="position: relative; top: -5pc;">
              <h3 class="my-3">Air Conditioner <br> Spray Cleaner</h3>
              <button type="button" class="btn badge badge-pill py-1 px-3 mt-2"><h4>Add to cart <i class="fas fa-shopping-cart"></i></h4></button>
            </div>
          </div>
        </div>
          </div> 
 
          <div class="col-md-6 item px-5">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 text-center p-0" style="z-index:10;">
          		<img class="pic" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/190974596_209247420877537_5236652189819889257_n.png?v=1622082407" alt="food-picture">            
                
                <div class="row justify-content-center align-items-center price-product-circle p-3">
                  <h6>For sale <br> $12.99</h6>
                </div>            
            </div>
            <div class="col-lg-6 text-center p-0" style="position: relative; top: -5pc;">
              <h3 class="my-3">Air Conditioner Cleaner</h3>
              <button type="button" class="btn badge badge-pill py-1 px-3 mt-2"><h4>Add to cart <i class="fas fa-shopping-cart"></i></h4></button>
            </div>
          </div>
        </div>
          </div>
 
          <div class="col-md-6 item px-5">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6 text-center p-0" style="z-index:10;">
          		<img class="pic" src="https://cdn.shopify.com/s/files/1/0569/9397/2379/files/190854256_786823065306756_7200931862903910117_n.png?v=1622082407" alt="food-picture">            
                
                <div class="row justify-content-center align-items-center price-product-circle p-3">
                  <h6>For sale <br> $9.99</h6>
                </div>            
            </div>
            <div class="col-lg-6 text-center p-0" style="position: relative; top: -5pc;">
              <h3 class="my-3">Air Conditioner <br> Spray Cleaner</h3>
              <button type="button" class="btn badge badge-pill py-1 px-3 mt-2"><h4>Add to cart <i class="fas fa-shopping-cart"></i></h4></button>
            </div>
          </div>
        </div>
          </div> 
      
          <div class="col-12">
              <div class="btn-2 text-center">
                  <a href="#"> View More Products</a>
              </div> 
          </div>      
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Home products Section",
    "settings": [
		{
			"type": "text",
			"id": "video_url",
			"label": "Put here a video URL"
		}
	],
	"presets": [
		{
			"name": "Home products Section"
		}
	]
  }
{% endschema %}